header {
  width: 93.75%;
  /* 960px / 1024px */

}
#content {
  width: 93.75%;
  /* 960px / 1024px */

}
.content {
  width: 93.75%;
  /* 960px / 1024px */

}
footer {
  width: 93.75%;
  /* 960px / 1024px */

}
