header {
  width: 93.75%;
  /* 720px / 768px */

}
#content {
  width: 93.75%;
  /* 720px / 768px */

}
.content {
  width: 93.75%;
  /* 720px / 768px */

}
footer {
  width: 93.75%;
  /* 720px / 768px */

}
