body {
    position: relative;
    background: #eee;
}

@font-face {
    font-family: 'Collegia';
    font-style: normal;
    font-weight: normal;
}

.forkme {
    display: block;
    position: absolute;
    top: 30px;
    left: -75px;
    background: #FAFAFA;

    background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
    background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
    background: -o-linear-gradient(#FAFAFA,#EAEAEA);
    background: -ms-linear-gradient(#FAFAFA,#EAEAEA);
    background: linear-gradient(#FAFAFA,#EAEAEA);
    color: black;
    height: 44px;
    width: 250px;
    text-decoration: none;
    text-align: center;
    font-family: "Collegia";
    font-size: 38px;
    line-height: 32px;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: 1px solid #CACACA;
}

.forkme span {
    display: block;
    text-transform: uppercase;
    position: absolute;
    left: 100px;
    top: 20px;
    font-size: 15px;
}

.forkme:hover {
    color: #2C6EB4;
}
